.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_items {
  display: flex;
  gap: 3rem;
}
.logo {
  font: normal 700 33px / normal "Montserrat";
  letter-spacing: 0.083px;
}
.logo_ai {
  color: #19467e;
}
.logo_edutech {
  color: #4a4b4c;
}
.item_text {
  font: normal 400 23px / normal "Inter";
  color: #595959;
  text-align: center;
}
